.container {
  position: relative;
  width: 180px;
}
.image {
  display: block;
  width: 180px;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #757575;
  overflow: hidden;
  width: 180px;
  height: 0;
  transition: 0.5s ease;
  opacity: 0.8;
  border-radius: 5%;

}
.container:hover .overlay {
  height: 100%;
}
.text {
  color: #000000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Montserrat', sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;

}
.container2 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  padding-left: 20px;
}
.cursor-on-hover{
cursor: none;
}
.cursor-on-hover:hover{
cursor: pointer;
}
